#userInputs {
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px;
    width: 150px;
    height: 15px;
    margin-left:40px
}

#userInputsContainer {
    margin-top:40px
}

#mainContainer {
    border-radius: 25px;
    border: 2px solid #000;
    width: 600px;
    margin-left:40px
}

#coloumnContainer {
    height:100px;
    border:1px solid #000;
    margin-top: 20px
}

#tableContainer {
    border:1px solid #000;
}

#rowContainer {
    border:1px solid #000;
    height: 100px;
}

#columnContainer {
    border:1px solid #000;
    width: 10px;
}
